.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 16px;
  min-width: 150px;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dropdown-button:hover {
  background-color: rgb(64, 64, 207);
}

.menu-paper {
  width: 155px !important;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-icon {
  transition: transform 0.3s ease;
}

.dropdown-open {
  transform: rotate(180deg);
}
